* {
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:aliceblue;
}

section{
    padding:10px 0px;
}

#inputField{
    padding-left:5px;
    height:30px;
    width:300px;
}

#playButton{
    height:30px;
    width:100px;
    border:none;
    background-color: midnightblue;
    text-decoration: none;
    color:#F5F5F5;
    font-weight: bold;
}

#submitButton{
    height:30px;
    width:100px;
    border:none;
    background-color: green;
    text-decoration: none;
    color:#F5F5F5;
    font-weight: bold;
}

#answerButton{
    height:30px;
    width:100px;
    border:none;
    background-color: grey;
    color:#F5F5F5;
    font-weight: bold;
}

#showFlag{
    margin:5px;
    border: black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#answerOutput{
    margin:5px;
    padding: 5px;
    border:peru solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score{
    margin:5px;
    padding:5px;
    border:green solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    color:midnightblue
}
/* QUE SUR DESKTOP */

@media screen and (min-width:1024px){
}

@media screen and (max-width:767px){
}